[Unit]
Description=Initialize system Flatpak install from vendored copy
DefaultDependencies=no
# Consult bootup(7) for more info about this and basic.target
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "mv /var/lib/flatpak /var/lib/flatpak-old; ln -s /usr/lib/seagl-flatpak /var/lib/flatpak; rm -rf /var/lib/flatpak-old; sleep 5; rm -rf /var/lib/flatpak-old"

[Install]
WantedBy=multi-user.target
