[Desktop Entry]

Type=Application
Version=1.0
Name=Reprovision SeaGL laptop
Exec=sudo /usr/bin/seagl-reprovision
Terminal=true
Categories=Utilities;ConsoleOnly;
